* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  box-shadow: 10px 0px 10px gray;
  padding: 1.5rem;
}

section{
  margin: 3rem;
}

.hero--image {
  display: flex;
  justify-content: center;
}

.hero--text {
  margin: 3rem;
}

.hero--text p{
  font-size: 1.5rem;
  padding-top: 1rem;
}

.card {
  margin: 2rem;
}

.card--stats {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card--image {
margin-bottom: 5px;
position: relative;
}

.badge {
  background-color: white;
  width: fit-content;
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.bold {
  font-weight: bold;
}

.gray {
  color:gray;
}

.cards-list{
  display: flex;
  gap: 1rem;
}